@model WidgetModel
<div class="card card-custom bg-gray-100 gutter-b">
    <div class="card-header border-0 bg-primary py-5">
        <h3 class="card-title font-weight-bolder text-white">@Model.widgetName</h3>
        <div class="card-toolbar">
            <div class="dropdown dropdown-inline">
                <a href="#" class="btn btn-transparent-white btn-sm font-weight-bolder dropdown-toggle px-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İşlem</a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <ul class="navi navi-hover">
                        <li class="navi-header pb-1">
                            <span class="text-primary text-uppercase font-weight-bold font-size-sm">Add new:</span>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="flaticon2-shopping-cart-1"></i>
                                </span>
                                <span class="navi-text">Order</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="flaticon2-calendar-8"></i>
                                </span>
                                <span class="navi-text">Event</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="flaticon2-graph-1"></i>
                                </span>
                                <span class="navi-text">Report</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="flaticon2-rocket-1"></i>
                                </span>
                                <span class="navi-text">Post</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="flaticon2-writing"></i>
                                </span>
                                <span class="navi-text">File</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0 position-relative overflow-hidden">
        <div id="kt_mixed_widget_2_chart" class="card-rounded-bottom bg-primary" style="height: 200px"></div>
        <div class="card-spacer mt-n25">

            <div class="row m-0">
                @{
                    string class1 = "mr-7";
                    string class2 = "mr-7";
                }
                @foreach (var item in Model.widgetEntities.Take(2))
                {
                    <div class="col bg-white px-6 py-8 rounded-xl @class1 mb-7">
                        <i class="@item.textClass @item.iconClass icon-2x d-block my-2"></i>
                        <a href="@item.SubText" class="@item.textClass font-weight-bold font-size-h6">@item.Text</a>
                    </div>

                    class1 = "";
                }
            </div>
            <div class="row m-0">
                @foreach (var item in Model.widgetEntities.TakeLast(2))
                {
                    <div class="col bg-white px-6 py-8 rounded-xl @class2">

                        <i class="@item.textClass @item.iconClass icon-2x d-block my-2"></i>
                        <a href="@item.SubText" class="@item.textClass font-weight-bold font-size-h6 mt-2">@item.Text</a>
                    </div>
                    class2 = "";
                }
            </div>

        </div>
    </div>
</div>